* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
  body {
    background-image: url(https://i.natgeofe.com/k/cd784533-e5ef-439a-8167-2ba61b0a9a4b/wave.jpg?w=1200);
    width: 100%;
    background-position: top;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #navbar {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgb(0, 174, 255);
  }
  
  #footer h3 {
    width: 100%;
    color: white;
  }
  
  ::placeholder {
    color: rgb(0, 1, 73);
    box-shadow: 1px 1px 3px black;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  
  .options h3 {
    padding-left: 30px;
    padding-right: 10px;
  }
  
  a {
    color: rgb(0, 1, 73);
  }
  
  a:hover,
  button:hover {
    color: rgb(255, 255, 255);
  }
  
  #cont {
    max-width: 87%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
  
  .box {
    border: 0.5 solid rgb(255, 255, 255);
    width: 100px;
    margin: 10px;
    background-color: rgba(0, 225, 255, 0.767);
    text-align: center;
    font-size: 29px;
    padding: 50px;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(0, 174, 255);
    color: white;
    text-align: center;
  }
  
  .box:hover {
    cursor: pointer;
    animation: rotate 2s linear;
    transform: scale(1.5);
  }
  
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg),scale(1.5);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }